*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #272d40;
}

body .logo{
    width: 150px;
    height: 150px;
    justify-content: center;
    /* border-radius: 50%; */
    margin: 5px 10px;
    top: -2%;
    position: fixed;
    z-index: 2;
    left: 3%;
}

body .shop_name{
    position: fixed;
    height:5%;
    width: 15%;
    top: 120px;
    left: 2%;
    font-size: 28px;
    color: white;
    padding-bottom: 10px;
    z-index: 2;
    font-style: italic;
    font-family: Trebuchet MS;
}

.ti-user{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

#pass,
#tdn{
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    color: #272d40;
    background-color: #63717f;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}

.email_sdt,
.password{
    color: white;
}

.dn,
.pass{
    position: absolute;
    top: 45%;
    left: 35%;
    /* transform: translate(-25%); */
}

.pass{
    top: 50%;
}

#pass{
    margin-left: 100px;
}

.button2,
.button1{
    background-color: #4f5b66;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%);
    border-radius: 10px;
    transition: 0.2s;
}

.button2{
    left: 60%;
}

.button2:hover,
.button1:hover{
    cursor: pointer;
    color: #04d928;
}

.dangky{
    text-decoration: none;
    color: white;
}

.dangky:hover{
    color: #04d928;
}
