*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root{
    --background-color: #fff;
    --nav-clolor: #242628;
    --header-body-color: #272d40;
    --price-color: #04d928;
    --gray-color: rgb(213, 213, 213);
    --subnav-color: rgba(0, 112, 224, 1);
    --white-color: rgb(255, 255, 255);
    --search-color: #2b303b;
    --text-search-color: #63717f;
    --icon-search-color: #4f5b66;
    --red-pink-color: #EE4A7B;
    --blue-white-color: #3DB1F5;
    --red-orange-color: #E24A3F;
    --price-color: rgb(141, 141, 241);
}

body{
    position: relative;
    height: 720px;
    background-color:#272d40;
}

body .logo{
    width: 150px;
    height: 150px;
    justify-content: center;
    /* border-radius: 50%; */
    margin: 5px 10px;
    top: -2%;
    position: fixed;
    z-index: 2;
    left: 3%;
}

body .shop_name{
    position: fixed;
    height:5%;
    width: 15%;
    top: 120px;
    left: 2%;
    font-size: 28px;
    color: white;
    padding-bottom: 10px;
    z-index: 2;
    font-style: italic;
    font-family: Trebuchet MS;
}

div .map{
    top: 2%;
    position: absolute;
    width: 78%;
    height: 80%;
    left: 20%;
    border-radius: 10px 10px;
    overflow: hidden;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}


.dc,
.nhn,
.sdt1,
.sdt2,
.name{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translatex(-50%);
    color: white;
}

.dc{
    top: 105%;
}

.sdt1{
    top: 95%;
    left: 39%;
}
.sdt2{
    top: 95%;
    left: 62%;
}

.nhn{
    top: 95%;
}